{% extends 'base.html' %}
{% block expense %}active{% endblock %}
{% block expense_list %}active{% endblock %}
{% block content %}
{% load static %}

<div class="content-wrapper">
    <section class="content-header">

        <ol class="breadcrumb">
            <li><a href="{% url 'common:index' %}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="{% url 'expense:list' %}">Expense List</a></li>
            <li class="active">Update</li>
        </ol>
    </section>
    <br>
    <section class="content">
        <div class="row">
            <div class="col-md-6 pull-left">
                <div class="box">
                    <div class="box-header">
                        <h3 class="text-center"><b>Update Expense</b></h3>
                    </div>
                    <div class="box-body">
                        <form action="{% url 'expense:update' pk=object.id %}" method="post" autocomplete="off">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12 pull-left form-group">
                                    <label class="form-control-label">Amount <span style="color:red">*</span></label>
                                    <input type="text" name="amount" class="form-control form-control-alternative" placeholder="Amount" value="{{ object.amount|floatformat:-2 }}" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 pull-left form-group">
                                    <label class="form-control-label">Date <span style="color:red">*</span></label>
                                    <input type="date" name="date" class="form-control form-control-alternative" placeholder="Date" onfocus="(this.type='date')" onblur="(this.type='text')" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 pull-left form-group">
                                    <label class="form-control-label">Description <span style="color:red">*</span></label>
                                    <input type="text" name="description" class="form-control form-control-alternative" placeholder="Description" value="{{ object.description }}" required>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4 pull-right form-group">
                                    <label class="form-control-label"></label>
                                    <button type="submit" value="Create" class="btn btn-primary form-control">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}
