{% extends 'base.html' %}
{% block product %}active{% endblock %}
{% block product_list %}active{% endblock %}
{% block content %}
{% load static %}

<div class="content-wrapper">
    <section class="content-header">
        <a class="col-md-2 pull-left" href="{%url 'product:add_stock' pk=product.id %}"><button type="button" class="btn btn-primary btn-sm">Add Stock In</button></a>
        <ol class="breadcrumb">
            <li><a href="{% url 'common:index' %}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="{% url 'product:list' %}">Product List</a></li>
            <li class="active">Stock In</li>
        </ol>
    </section>
    <br>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h4 class="text-center"><b>{{ product|title }} |</b> <small><b>{{ product.category.category }}</b></small> Stock In</h4>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4 pull-left">
                                <input type="date" class="form-control date_search" placeholder="Search by Date ..." >
                            </div>
                            <div class="col-md-2 pull-right">
                                <button class="form-control btn btn-primary search">Search</button>
                            </div>
                            <br><br>
                            <hr>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-advance table-hover item-table table-bordered">
                                <thead class="thead-dark">
                                <tr>
                                    <th class="text-center">Product</th>
                                    <th class="text-center"><small>Stock Quantity</small></th>
                                    <th class="text-center"><small>Price Per Item</small></th>
                                    <th class="text-center"><small>Selling %</small></th>
                                    <th class="text-center"><small>Total Amount</small></th>
                                    <th class="text-center"><small>Buying Price Item</small></th>
                                    <th class="text-center"><small>Buying %</small></th>
                                    <th class="text-center"><small>Total Buying Amount</small></th>
                                    <th class="text-center"><small>Order Dated</small></th>
                                </tr>
                                </thead>
                                <tbody class="product-table-body text-center">
                                    {% for stock_in in object_list %}
                                    <tr>
                                        {% load humanize %}
                                        <td>{{ stock_in.product }}</td>
                                        <td>{{ stock_in.stock_quantity|floatformat:-2|intcomma}}</td>
                                        <td>{{ stock_in.price_per_item|floatformat:-2|intcomma }}</td>
                                        <td>{{ stock_in.selling_percent|floatformat:-2|intcomma }}</td>
                                        <td>{{ stock_in.total_amount|floatformat:-2|intcomma }}</td>
                                        <td>{{ stock_in.buying_price_item|floatformat:-2|intcomma }}</td>
                                        <td>{{ stock_in.buying_percent|floatformat:-2|intcomma }}</td>
                                        <td>{{ stock_in.total_buying_amount|floatformat:-2|intcomma }}</td>
                                        <td>{{ stock_in.dated_order }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% if paginator.page_range|length > 1 %}
                            <div class="text-center col-lg-12">
                                <ul class="pagination justify-content-center">
                                    <li><a  style="background-color: #3070A8; color: white" class="page_previous" href="{% if page_obj.has_previous %}{% url 'product:stockin_detail' pk=product.id %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}" title="Previous"><<</a></li>
                                    <li><a style="background-color: #3070A8; color: white" class="page_next" href="{% if page_obj.has_next %}{% url 'product:stockin_detail' pk=product.id %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}" title="Next">>></a></li>
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block script %}
    {{ block.super }}
<script>
$(function () {
    $('.search').on('click', function () {
        var url = '{% url "product:stockin_detail" pk=product.id %}';
        window.location.href  = url + '?' + 'date=' + $('.date_search').val();
    });
})
</script>
{% endblock %}