{% extends 'base.html' %}
{% block customer %}active{% endblock %}
{% block customer_list %}active{% endblock %}
{% block content %}
{% load static %}
<div class="content-wrapper">
    <section class="content-header">
        <a href="{% url 'customer:ledger_debit' pk=customer.id %}"><button type="button" value="Create" class="btn btn-success">Add Ledger</button></a>
        <a href="{% url 'customer:ledger_credit' pk=customer.id %}"><button type="button" value="Create" class="btn btn-danger">Pay Ledger</button></a>
        <ol class="breadcrumb">
            <li><a href="{% url 'common:index' %}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="{% url 'customer:list' %}"> Customer List</a></li>
            <li class="active">Ledger</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="text-center"><b>{{ customer.name|title }} |</b> <small><b>Ledger Statement</b></small></h3>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4 pull-left">
                                <input type="date" class="form-control date_search" placeholder="Search by Date ..." >
                            </div>
                            <div class="col-md-2 pull-right">
                                <button class="form-control btn btn-primary search">Search</button>
                            </div>
                        <br><br>
                        <hr>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table align-items-center table-striped table-bordered table-hover">
                                <thead class="thead-dark">
                                <tr>
                                    <th>Date</th>
                                    <th>Detail</th>
                                    <th><small>Debit/Ledger Amount</small></th>
                                    <th><small>Credit/Payment Amount</small></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for ledger in object_list %}
                                <tr>
                                    {% load humanize %}
                                    <td>{{ledger.date}}</td>
                                    <td>{{ledger.details}}</td>
                                    <td>{{ledger.debit_amount|floatformat:-2|intcomma }}</td>
                                    <td>{{ledger.credit_amount|floatformat:-2|intcomma }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% if paginator.page_range|length > 1 %}
                            <div class="text-center col-lg-12">
                                <ul class="pagination justify-content-center">
                                    <li><a  style="background-color: #3070A8; color: white" class="page_previous" href="{% if page_obj.has_previous %}{% url 'customer:ledger_list' pk=customer.id %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}" title="Previous"><<</a></li>
                                    <li><a style="background-color: #3070A8; color: white" class="page_next" href="{% if page_obj.has_next %}{% url 'customer:ledger_list' pk=customer.id %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}" title="Next">>></a></li>
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block script %}
    {{ block.super }}
<script>
$(function () {
    $('.search').on('click', function () {
        var url = '{% url "customer:ledger_list" pk=customer.id %}';
        window.location.href  = url + '?' + 'date=' + $('.date_search').val();
    });
})
</script>
{% endblock %}