{% extends 'base.html' %}
{% block company %}active{% endblock %}
{% block company_list %}active{% endblock %}
{% block content %}
{% load static %}

<div class="content-wrapper">
    <section class="content-header">

        <ol class="breadcrumb">
            <li><a href="{% url 'common:index' %}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="{% url 'company:list' %}">Company List</a></li>
            <li class="active">Update</li>
        </ol>
    </section>
    <br>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="text-center"><b>Update Company Detail</b></h3>
                    </div>
                    <div class="box-body">
                        <form action="{% url 'company:update' pk=object.id %}" method="post" autocomplete="off">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-4 pull-left form-group">
                                    <label class="form-control-label">Company Name <span style="color:red">*</span></label>
                                    <input type="text" name="name" class="form-control form-control-alternative" placeholder="Company Name" value="{{ object.name }}" required>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="form-control-label">Contact Person <span style="color:red">*</span></label>
                                    <input type="text" name="contact_person" class="form-control form-control-alternative" placeholder="Contact Person" value="{{ object.contact_person }}" required>
                                </div>
                                <div class="col-md-4 pull-right form-group">
                                    <label class="form-control-label">CNIC <span style="color:red">*</span></label>
                                    <input type="text" name="cnic" class="form-control form-control-alternative" placeholder="CNIC" value="{{ object.cnic }}" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 pull-left form-group">
                                    <label class="form-control-label">City <span style="color:red">*</span></label>
                                    <input type="text" name="city" class="form-control form-control-alternative" placeholder="City" value="{{ object.city }}" required>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="form-control-label">Mobile <span style="color:red">*</span></label>
                                    <input type="text" name="mobile" class="form-control form-control-alternative" placeholder="Mobile" value="{{ object.mobile }}" required>
                                </div>
                                <div class="col-md-4 pull-right form-group">
                                    <label class="form-control-label">Alternate Mobile <span style="color:red">*</span></label>
                                    <input type="text" name="alternate_mobile" class="form-control form-control-alternative" placeholder="Alternate Mobile" value="{{ object.alternate_mobile }}">
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-md-6 pull-left form-group">
                                    <label class="form-control-label">Resident <span style="color:red">*</span></label>
                                    <input type="text" name="resident" class="form-control form-control-alternative" placeholder="Resident" value="{{ object.resident }}" required>
                                </div>
                                <div class="col-md-6 pull-right form-group">
                                    <label class="form-control-label">Complete Address <span style="color:red">*</span></label>
                                    <input type="text" name="address" class="form-control form-control-alternative" placeholder="Complete Address" value="{{ object.address }}" required>
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="col-md-2 pull-left form-group">
                                    <label class="form-control-label"></label>
                                    <button type="submit" value="Create" class="btn btn-primary form-control">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}
