{% load static %}
{% load template_tags %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Shaal Beej </title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/Ionicons/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/jvectormap/jquery-jvectormap.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %}">

    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <header class="main-header">

        <!-- Logo -->
        <a href="#" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b> SB </b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b> Shaal Beej </b></span>
        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <div  class="header">
                <span style="color:white;"><h4><b> Shaal Beej & Zarai Markaz </b></h4></span>
            </div>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Notifications <i class="fa fa-bell-o"></i>
                            <span class="label label-danger notification_count">10</span>
                        </a>
                        {% get_products as p_n %}
                        <ul class="dropdown-menu">
                            <li class="header">Lower Quantity Notifications</li>

                            <li class="header">
                                <table class="table table-bordered table-hover">
                                    {% for p in p_n %}
                                        {% if p.product_available_items <= p.notify_qty %}
                                            <tr>
                                                <th><strong>{{ p.name|title }}</strong></th>
                                                <td style="color:red">{{ p.product_available_items|floatformat:-2 }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </table>
                            </li>
                            <li class="footer"><a href="{% url 'product:list' %}">View all</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- search form -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">Main Navigation</li>
                <li class="treeview {% block product %}{% endblock %}">
                    <a href="#">
                        <i class="fa fa-product-hunt"></i> <span>Product</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="{% block add_category %}{% endblock %}"><a href="{% url 'product:add_category' %}"><i class="fa fa-circle-o"></i>Add Category</a></li>
                        <li class="{% block add_product %}{% endblock %}"><a href="{% url 'product:add' %}"><i class="fa fa-circle-o"></i>Add Product</a></li>
                        <li class="{% block product_list %}{% endblock %}"><a href="{% url 'product:list' %}"><i class="fa fa-circle-o"></i>List Products</a></li>
                    </ul>
                </li>
                <li class="treeview {% block customer %}{% endblock %}">
                    <a href="#">
                        <i class="fa fa-user"></i> <span>Customers</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="{% block customer_create %}{% endblock %}"><a href="{% url 'customer:add' %}"><i class="fa fa-circle-o"></i>Add Customer</a></li>
                        <li class="{% block customer_list %}{% endblock %}"><a href="{% url 'customer:list' %}"><i class="fa fa-circle-o"></i>Customer List</a></li>
                    </ul>
                </li>
                <li class="treeview {% block bank %}{% endblock %}">
                    <a href="#">
                        <i class="fa fa-university"></i> <span>Banking System</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="{% block add_bank %}{% endblock %}"><a href="{% url 'bank:add' %}"><i class="fa fa-circle-o"></i>Add Bank</a></li>
                        <li class="{% block bank_list %}{% endblock %}"><a href="{% url 'bank:list' %}"><i class="fa fa-circle-o"></i>Bank List</a></li>
                    </ul>
                </li>
                <li class="header">Sales & Expenses</li>
                <li class="treeview {% block expense %}{% endblock %}">
                    <a href="#">
                        <i class="fa fa-money"></i> <span>Expense System</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="{% block add_expense %}{% endblock %}"><a href="{% url 'expense:add' %}"><i class="fa fa-circle-o"></i> <span>Add Expense</span></a></li>
                        <li class="{% block expense_list %}{% endblock %}"><a href="{% url 'expense:list' %}"><i class="fa fa-circle-o"></i>Expense List</a></li>
                    </ul>
                </li>
                <li class="treeview {% block sales %}{% endblock %}">
                    <a href="#">
                        <i class="fa fa-shopping-cart"></i> <span>Sales</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="{% block create_invoice %}{% endblock %}"><a href="{% url 'sales:invoice_create' %}"><i class="fa fa-circle-o"></i> <span>Create Invoice</span></a></li>
                        <li class="{% block invoice_list %}{% endblock %}"><a href="{% url 'sales:invoice_list' %}"><i class="fa fa-circle-o"></i>Invoices List</a></li>
                    </ul>
                </li>
                <li class="header">Logs & Reports</li>
                <li class="treeview {% block stock_logs %}{% endblock %}">
                    <a href="#">
                        <i class="fa fa-history"></i> <span>Stock Logs</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="{% block daily_stock_logs %}{% endblock %}"><a href="{% url 'common:daily_logs' %}"><i class="fa fa-circle-o"></i> <span>Daily Logs</span></a></li>
                        <li class="{% block monthly_stock_logs %}{% endblock %}"><a href="{% url 'common:monthly_logs' %}"><i class="fa fa-circle-o"></i>Monthly Logs</a></li>
                    </ul>
                </li>
                <li class="treeview {% block reports %}{% endblock %}">
                    <a href="#">
                        <i class="fa fa-copy"></i> <span>Reports</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="{% block monthly_reports %}{% endblock %}"><a href="{% url 'common:reports' %}"><i class="fa fa-circle-o"></i> <span>Monthly Reports</span></a></li>
                    </ul>
                </li>

                <li class="header">Companies</li>
                <li class="treeview {% block company %}{% endblock %}">

  <a href="#">
    <i class="fa fa-building"></i> <span>Companies</span>
    <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
    </span>
  </a>
  <ul class="treeview-menu">
    <li>
      <a href="{% url 'company:add' %}">
        <i class="fa fa-circle-o"></i> Add Company
      </a>
    </li>
    <li>
      <a href="{% url 'company:list' %}">
        <i class="fa fa-circle-o"></i> Company List
      </a>
    </li>
  </ul>
</li>
                <li class="header">User</li>
                 <li>
                    <a href="{% url 'common:logout' %}"><i class="fa fa-sign-out"></i> <span>Logout</span></a>
                </li>
                <li>
                    <a href="{% url 'admin:index' %}"><i class="fa fa-sign-in"></i> <span>Admin Pannel</span></a>
                </li>
            </ul>
        </section>
    </aside>

    <!-- Content Wrapper. Contains page content -->
    {% block content %}{% endblock %}
    <!-- /.content-wrapper -->

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 2.4.18
        </div>
        <strong>Copyright &copy; 2026 <a href="#">Shaal Beej & Zarai Markaz</a>.</strong> All rights
        reserved.
    </footer>
</div>

{% block script %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bower_components/fastclick/lib/fastclick.js' %}"></script>
    <script src="{% static 'dist/js/adminlte.min.js' %}"></script>
    <script src="{% static 'bower_components/jquery-sparkline/dist/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'plugins/jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
    <script src="{% static 'plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'bower_components/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'bower_components/chart.js/Chart.js' %}"></script>
    <script src="{% static 'dist/js/demo.js' %}"></script>

    <script>
        var notification_count = 0;
        {% for p in p_n %}
            {% if p.product_available_items <= p.notify_qty %}
                    notification_count += 1;
            {% endif %}
        {% endfor %}

        $('.notification_count').text(notification_count);
    </script>

{% endblock %}
</body>
</html>
